

body {
    font-family: $sans;
}

#floors{ 
    border: 7px solid lightgrey;
    width: 100px;
}

.floor{
    background: #dee;
    padding: 4px 5px;
    display: flex;
    .buttons {
        align-self: center;
    }
    button {
        display: block;
        width: 100%;
        padding: 4px 8px;
        cursor: pointer;
    }
}

.floor-indicator{
    font-size: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background: white;
}

.current-floor{
    color: red;
}
.target-floor{
    color: lighten(green, 20%);
}
.elevator{
    display: flex;
    justify-content: center;
}

.panel{
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    margin-right: 40px;
    background: #eee;
    padding: 10px;
    border-radius: 10px;
    max-width: 92px;
    button {
        padding: 10px 15px;
        width: 40px;
        border-radius: 20px;
        margin: 3px; 
        font-size: 14px;
        cursor: pointer;
    }
}


